@{
    ViewData["Title"] = "About Me & The Purpose of This Website";
}

<h1>@ViewData["Title"]</h1>

<p>
    Hello and welcome to my website! My journey began with a simple intent: to develop an automated solution that would save me from hiring a financial investor or racking up fees on other platforms.
</p>

<h2>My Inspiration</h2>
<p>
    Like many of you, I've always been driven by the need to find efficient solutions to everyday challenges. This platform, in many ways, is a manifestation of that drive. It offers an alternative to traditional financial advisory methods, putting more control back in your hands.
</p>

<h2>The Journey</h2>
<p>
    Beyond its primary functionality, this website is a reflection of my technological explorations. It has been my personal project, my playground for practicing and refining my skills in API integration. As I delved deeper, I ventured into the realms of versioning, familiarizing myself with Kubernetes and embracing the vast world of Amazon Web Services (AWS).
</p>

<p>
    Through each line of code and every automated process on this platform, you're witnessing my commitment to innovation, continuous learning, and growth in the tech world.
</p>

<h2>Welcome Aboard!</h2>
<p>
    Whether you're here to explore the automated financial solutions or to appreciate the culmination of my technological adventures, I'm delighted to have you here. Enjoy the journey!
</p>

<h2>Technologies & Platforms</h2>

<p>
    This website is not just a reflection of my financial aspirations, but also a testament to the diverse technologies and platforms I've embraced over time. Here's a brief overview:
</p>

<h4>HighMark</h4>
<p>
    For visualizing stock data and trends, I've integrated HighMark. It provides a comprehensive and interactive way to view stock graphs, ensuring that users get a clear picture of the market dynamics.
</p>

<h4>ETrade</h4>
<p>
    Portfolio management is a crucial aspect of this platform, and for this, I've partnered with ETrade. Their robust APIs and extensive financial tools ensure that users can manage their portfolios with precision and efficiency.
</p>

<h4>MongoDB</h4>
<p>
    Data is the backbone of any digital platform. For efficient and scalable data management, I've chosen MongoDB. Its flexibility and performance ensure that all user data and financial metrics are stored securely and can be retrieved swiftly.
</p>

<p>
    Together, these technologies form the foundation of this platform, ensuring that users get a seamless and efficient experience.
</p>