@{
    ViewData["Title"] = "About Me & The Purpose of This Website";
}

<h1>@ViewData["Title"]</h1>

<p>
    Hello and welcome to my website! My journey began with a simple intent: to develop an automated solution that would save me from hiring a financial investor or racking up fees on other platforms.
</p>

<h2>My Inspiration</h2>
<p>
    Like many of you, I've always been driven by the need to find efficient solutions to everyday challenges. This platform, in many ways, is a manifestation of that drive. It offers an alternative to traditional financial advisory methods, putting more control back in your hands.
</p>

<h2>The Journey</h2>
<p>
    Beyond its primary functionality, this website is a reflection of my technological explorations. It has been my personal project, my playground for practicing and refining my skills in API integration. As I delved deeper, I ventured into the realms of versioning, familiarizing myself with Kubernetes and embracing the vast world of Amazon Web Services (AWS).
</p>

<p>
    Through each line of code and every automated process on this platform, you're witnessing my commitment to innovation, continuous learning, and growth in the tech world.
</p>

<h2>Welcome Aboard!</h2>
<p>
    Whether you're here to explore the automated financial solutions or to appreciate the culmination of my technological adventures, I'm delighted to have you here. Enjoy the journey!
</p>