@{
    Layout = "_Layout";
}
<div>
    <div>
        <h1> Automated Portfolio</h1>
        <h2> A personal project that connects with the ETrade trading platform to conduct your portfolio mamangement</h2>
        <p> As said, this is not a financial advice that helps with growing your portfolio and I'm in no way a financial advisor or I can help you grow your portfolio. 
            This is simply a automated portfolio management that I develop myself to avoid hiring a personal financial investor or paying fees to other platforms for this.
        </p>
    </div>
</div>