@{
    Layout = "_Layout";
}

<section class="portfolio-section">
    <header>
        <h1>Automated Portfolio</h1>
        <h2>Connect with the ETrade trading platform for automated portfolio management.</h2>
    </header>
    
    <article>
        <p>
            This project was born out of a personal need for automated portfolio management. While it connects seamlessly with ETrade, it's worth noting that this is <strong>not financial advice</strong>.
        </p>
        
        <p>
            I am neither a financial advisor nor am I promising portfolio growth. My intent was to develop an automated solution, saving myself from hiring a financial investor or incurring fees on other platforms.
        </p>
    </article>
</section>
