@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>At TradingBot Automated Portfolio, I believe in transparency and being upfront about my data practices. Here's how I ensure your privacy:</p>

<h2>Use of Data</h2>
<p>I only use your data to authenticate users through ETrade and conduct trades. Beyond these functionalities, I do not use your data for any other purposes.</p>

<h2>Data Ownership and Rights</h2>
<p>All data and rights pertaining to the data are reserved by ETrade. In the event ETrade contacts me with a request to shut down, I will promptly inform all my customers via email, advising them to cease using my website.</p>

<h2>Monetization and Cost</h2>
<p>I do not use my website for commercial gains. My platform is open to the public and is free of charge.</p>

<h2>Code License</h2>
<p>All code written for and used by this website is under the MIT license, promoting the use and dissemination of my code in the developer community.</p>

<h2>Contact</h2>
<p>If you have any concerns or questions about my privacy practices, please <a href="">contact me</a>.</p>