@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please refrain from copying anything from this website. If you have any questions, please simply contact me through the contact section.</p>