@model TradingBotAPI.Models.Account
@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div>
        <h2>Welcome, @Model.UserName!</h2>
    </div>
    <div>
        <div>
            <a href="@Url.Action("EditConsumerDetails", "User")" class="btn btn-primary">Edit Details</a>
        </div>
        <div>
            @if (string.IsNullOrEmpty(Model.ConnectionAuth.ConsumerKey) || Model.ConnectionAuth.ConsumerKey == "None")
            {
                <span>Consumer Key: Not Set</span>
            }
            else
            {
                <span>Consumer Key: @Model.ConnectionAuth.ConsumerKey</span>
            }
        </div>
        <div>
            @if (string.IsNullOrEmpty(Model.ConnectionAuth.ConsumerSecret) || Model.ConnectionAuth.ConsumerSecret == "None")
            {
                <span>Consumer Secret: Not Set</span>
            }
            else
            {
                <span>Consumer Secret: @Model.ConnectionAuth.ConsumerSecret</span>
            }
        </div>
    </div>
</div>
